@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headEnd
{
  <link href="~/app.css" rel="stylesheet" asp-append-version="true" />
  <link href="~/admin/app.css" rel="stylesheet" asp-append-version="true">
  <script src="~/admin/libs/libs.js" asp-append-version="true"></script>
  <script src="~/admin/libs/core-js/shim.min.js" asp-append-version="true"></script>
  <script src="~/admin/libs/zone.js/zone.js" asp-append-version="true"></script>
  <script src="~/admin/libs/reflect-metadata/Reflect.js" asp-append-version="true"></script>
  <script src="~/admin/libs/systemjs/system.src.js" asp-append-version="true"></script>
  <script src="~/admin/systemjs.config.js" asp-append-version="true"></script>
  <script>
    System.import('@ViewBag.SystemJsImportPath').catch(function (err) { console.error(err); });
  </script>
}

@section nav
{
  <nav class="nav-main nav-admin">
    <div class="top-bar" id="pioneer-admin-menu">
      <div class="row">
        <div class="large-12 columns">
          <div class="top-bar-left">
            <ul class="menu">
              <li class="menu-text">
                <a href="/" class="title">Pioneer <span>Code</span></a>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li class="@(ViewBag.Selected == "posts" ? "selected" : "")">
                <a href="/admin/posts">
                  POSTS
                </a>
              </li>
              <li class="@(ViewBag.Selected == "categories" ? "selected" : "")">
                <a href="/admin/categories">
                  CATEGORIES
                </a>
              </li>
              <li class="@(ViewBag.Selected == "tags" ? "selected" : "")">
                <a href="/admin/tags" class="margin-zero">
                  TAGS
                </a>
              </li>
              <environment names="Development">
                <li>
                  @await Html.PartialAsync("_LoginPartial")
                </li>
              </environment>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
}

<section class="body-content-admin">
  @RenderBody()
</section>

@section bodyEnd {}