<section class="popular-posts">
  @{var l = 0;}
  @foreach (var post in ViewBag.PopularPosts)
  {
    if (l == 0 || l == 2)
    {
          @:<div class="row">
    }
      <div class="large-6 medium-6 columns content">
        <div class="row">
          <div class="large-6 columns">
            <a href="/post/@post.Url" title="@post.Title">
              <img src="@post.SmallImage" alt="@post.Title" />
            </a>
          </div>
          <div class="large-6 columns">
            <p>
              <a href="/post/@post.Url" title="@post.Title">
                <b>@post.Title</b>
              </a>
            </p>
            <p class="category">
              <a href="/category/@post.Category.Url" title="@("Category - " + post.Category.Name)">@post.Category.Name</a>
            </p>
          </div>
        </div>
      </div>
    if (l == 1 || l == 3)
    {
          @:</div>
    }

    l++;
  }
</section>