<div class="article-meta-data">
  <span class="article-meta-data-section">
    <i class="fa fa-calendar" aria-hidden="true"></i> @Model.PostedOn.ToString("MMM d, yyyy")
  </span>
  <a href="/category/@Model.Category.Url" title="@Model.Category.Name" class="article-meta-data-section">
    <i class="fa fa-sitemap" aria-hidden="true"></i> @Model.Category.Name
  </a>
  <span class="article-meta-data-section">
    <i class="fa fa-tags" aria-hidden="true"></i>
    @{
        var i = 0;
        var last = Model.Tags.Count - 1;
    }
    @foreach (var tag in Model.Tags)
    {
        <a href="/tag/@tag.Url">@tag.Name</a>
      if (i < last)
      {
            <span>,</span>
      }
      i++;
    }
  </span>
  <a href="/post/@Model.Url/#disqus_thread" class="article-meta-data-section" title="comments" data-disqus-identifier="@Model.PostId">
    <i class="fa fa-comment" aria-hidden="true"></i>
  </a>
  @if (Model.Link != null)
  {
      <a href="@Model.Link" title="code" class="article-meta-data-section" target="_blank">
        <i class="fa fa-code" aria-hidden="true"></i> Code
      </a>
  }
</div>