@model Post
<div class="button-group expanded home-social-buttons">
  <a href="@string.Format("https://twitter.com/share?url=http://pioneercode.com/post/{0}/&text={1}", Model.Url, Uri.EscapeDataString(Model.Title))"
     onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
     class="button twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="@string.Format("https://www.linkedin.com/shareArticle?mini=true&url=http://pioneercode.com/post/{0}", Model.Url)"
     onclick="window.open(this.href, 'linkedin-share', 'width=580,height=296');return false;"
     class="button linkedin">
    <i class="fa fa-linkedin"></i>
  </a>
  <a href="@string.Format("https://www.facebook.com/sharer/sharer.php?u=http://pioneercode.com/post/{0}", Model.Url)" onclick="window.open(this.href, 'facebook-share', 'width=580,height=296');return false;"
     class="button facebook">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="@string.Format("https://plus.google.com/share?url=http://pioneercode.com/post/{0}", Model.Url)"
     onclick="window.open(this.href, 'google-share', 'width=580,height=296');return false;"
     class="button google-plus">
    <i class="fa fa-google-plus"></i>
  </a>
  <a href="@string.Format("https://reddit.com/submit?url=http://pioneercode.com/post/{0}&title={1}", Model.Url, Uri.EscapeDataString(Model.Title))"
     onclick="window.open(this.href, 'reddit-share', 'width=580,height=550');return false;"
     class="button reddit">
    <i class="fa fa-reddit-alien"></i>
  </a>
</div>