@model List<Post>
@{
    ViewBag.Title = Model[(int)PreviousCurrentNextPosition.Current].Title;
}
<article class="post">
  <section class="hero-gradient hg-large" data-parallax="scroll" data-image-src="@Model[(int)PreviousCurrentNextPosition.Current].Image">
    <div class="row hero-gradient-content">
      <div class="large-12 columns">
        <h1 class="hero-gradient-title">
          @Model[(int)PreviousCurrentNextPosition.Current].Title
        </h1>
      </div>
    </div>
  </section>
  @await Html.PartialAsync("_MetaData", Model[(int)PreviousCurrentNextPosition.Current])
  <div class="row">
    <div class="large-10 large-push-1 columns">
      @Html.Raw(Model[(int)PreviousCurrentNextPosition.Current].Article.Content)
    </div>
  </div>
  @Html.Partial("_PreviousNext")
  <footer>
    <div class="row">
      <div class="large-12 columns">
        @Html.Partial("_FooterSectionTitle", "Author")
        @Html.Partial("_FooterAuthor")
        @Html.Partial("_FooterSectionTitle", "Popular Posts")
        @Html.Partial("_FooterPopularPosts")
        @Html.Partial("_FooterComments", Model[(int)PreviousCurrentNextPosition.Current])
      </div>
    </div>
  </footer>
</article>
<script id="dsq-count-scr" src="@Url.Content("//" + AppConfiguration.Value.DisqusShortname + ".disqus.com/count.js")" async></script>