@using System.Linq
@model List<Post>
@foreach (var post in Model)
            {
    <article class="archive-post">
      <a href="/post/@post.Url" class="post-card-hero" title="@post.Title">
        <span>
          <img src="blogs/@post.Url/@post.SmallImage" alt="@post.Title" />
        </span>
      </a>
      <div class="row collapse">
        <div class="medium-1 columns">
          <div class="archive-post-date hide-for-small-only">
            <div class="archive-post-date-top">
              @post.PostedOn.ToString("dd")
            </div>
            <div class="archive-post-date-bottom">
              @post.PostedOn.ToString("MMM")
            </div>
          </div>
        </div>
        <div class="medium-11 columns">
          <div class="archive-post-content">
            <h2>
              <a href="/post/@post.Url" title="@post.Title">
                @post.Title
              </a>
            </h2>
            <ul class="menu simple archive-post-meta">
              <li>
                <i class="fa fa-sitemap" aria-hidden="true"></i> <a href="/category/@post.Category.Url">@post.Category.Name</a>
              </li>
              <li class="show-for-small-only">
                <i class="fa fa-calendar" aria-hidden="true"></i> @post.PostedOn.ToString("MM/dd/yy")
              </li>
              <li>
                <i class="fa fa-tags" aria-hidden="true"></i>
                @{
                    var i = 0;
                    var last = post.Tags.Count() - 1;
                }
                @foreach (var tag in post.Tags)
                {
                    <a href="/tag/@tag.Url">@tag.Name</a>if (i < last)
                  {<span>,</span>}
                  i++;
                }
              </li>
            </ul>
            @Html.Raw(post.Excerpt.Content)
            <p class="clearfix">
              <a href="/post/@post.Url" class="button small hide-for-small-only float-right">Read More</a>
              <a href="/post/@post.Url" class="button small show-for-small-only">Read More</a>
            </p>
          </div>
        </div>
      </div>
    </article>
                    }