@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Enviroment
@inject Microsoft.Extensions.PlatformAbstractions.ApplicationEnvironment Application

@using System.Runtime.InteropServices

@{
    Layout = "~/Views/About/_Template.cshtml";
    ViewBag.Title = "About Chad Ramos";
}
<input type="hidden" value="d9197f1e-e49b-4d41-9851-440cfa63abb7">
<section class="about">
  <section class="who-is">
    <div class="row">
      <div class="large-8 columns">
        <h1>Hi, my name is Chad Ramos</h1>
        <p>
          I am a <a href="https://www.google.com/maps/place/Chicago,+IL" target="_blank" title="Chicago">Chicago-based</a> software developer with a strong passion for modern development practices.
        </p>
        <p>
          Professionally I have written a bunch of software as an independent consultant and for a variety of firms. Currently, I work remotely with a talented team at <a href="https://www.xerox.com/en-us/services" title="Xerox Services" target="_blank">Xerox Services</a> - <a href="https://www.conduent.com" title="Conduent" target="_blank">Conduent</a> and often find myself collaborating with some brilliant minds at <a href="https://www.parc.com/" target="_blank" title="PARC">PARC</a>.
        </p>
        <p>
          I spend most of my time developing with <a href="https://www.microsoft.com/net" title=".NET" target="_blank">.NET</a> and <a href="https://www.microsoft.com/net/core" title=".NET" target="_blank">.NET Core</a>.  Of which is rounded out by rapidly growing list of front-end technologies such as <a href="https://angular.io/" title="Angular" target="_blank"> Angular</a> and <a href="https://nodejs.org/en/" title="Node" target="_blank">Node.js</a>.
        </p>
        <p>
          <b>Keeping my eye on the future while standing on the shoulders of giants is kind of my thing.</b>
        </p>
        <ul class="menu simple">
          <li>
            <a href="https://github.com/PioneerCode" title="Pioneer Code Github" target="_blank" class="icon">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/chad_ramos" title="Chad Ramos Twitter" target="_blank" class="icon">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://trello.com/b/EX3uv8CM/blog-post-ideas" title="Pioneer Code Trello" target="_blank" class="icon">
              <i class="fa fa-trello fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/ChadMRamos" title="Chad Ramos Facebook" target="_blank" class="icon">
              <i class="fa fa-facebook fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="large-4 columns">
        <div class="image-container">
          <img src="~/images/me300.jpg" alt="Pioneer Code Logo" class="circle" />
        </div>
      </div>
    </div>
  </section>
  <section class="about-pioneer">
    <div class="row">
      <div class="large-4 columns">
        <div class="image-container">
          <img src="~/images/logo-large.png" alt="Pioneer Code Logo" />
        </div>
      </div>
      <div class="large-8 columns">
        <h2>Tell Me More About Pioneer Code</h2>
        <p>Pioneer Code is developed in the open at <a href="https://github.com/PioneerCode/pioneer-blog" alt="Pioneer Code Repository" target="_blank">GitHub</a>, deployed at <a href="http://www.digitalocean.com/?refcode=d95b905a1279" title="Digital Ocean" target="_blank">DigitalOcean</a> and backed by a SQL Server instance hosted at <a href="http://www.winhost.com/a/chadr" title="WinHost" target="_blank">WinHost</a>.</p>
        <h4 class="sub-heading">The Nitty Gritty</h4>
        <p>Currently version "<b>@Application.ApplicationVersion</b>" of "<b>@Enviroment.ApplicationName</b>" is running on top of runtime framework "<b>@Application.RuntimeFramework</b>" in "<b>@RuntimeInformation.OSDescription</b>" and is being powered by an <b>@RuntimeInformation.ProcessArchitecture</b> process architecture.</p>
        <p class="warning">* These stats are produced at runtime.</p>
      </div>
    </div>
  </section>
</section> 