<section class="home-greatest-posts">
  <h3 class="header-surround-bar"><span>Popular Posts</span></h3>
  <div class="row ">
    <div class="large-6 columns">
      @foreach (var post in (ViewBag.PopularPosts as ICollection<Post>).Take(3))
      {
          <a class="clearfix home-greatest-posts-card" href="/post/@post.Url" title="@post.Title">
            <div class="home-greatest-posts-card-image float-left" style="background-image: url('@post.IconImage')"></div>
            <h4>@post.Title</h4>
          </a>
      }
    </div>
    <div class="large-6 columns">
      @foreach (var post in (ViewBag.PopularPosts as ICollection<Post>).Skip(3))
      {
          <a class="clearfix home-greatest-posts-card" href="/post/@post.Url" title="@post.Title">
            <div class="home-greatest-posts-card-image float-left" style="background-image: url('@post.IconImage')"></div>
            <h4>@post.Title</h4>
          </a>
      }
      <a class="home-greatest-posts-more" href="/blog" title="Blog Posts"><i class="fa fa-hand-o-right">&nbsp;</i>Read More This Way </a>
    </div>
  </div>
</section>