<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>@AppConfiguration.Value.SiteTitle | @ViewBag.Title</title>
  <meta name="description" content="@ViewBag.Description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  @RenderSection("metaShared", false)
  <style type="text/css">
    .hide {
      display: none;
    }
  </style>
  @RenderSection("headEnd", false)
</head>
<body>
  <!-- TODO: Keep an eye on this.  Some of these classes are admin specific.-->
  <input type="hidden" class="large-3 large-9 fieldset alert button" disabled/>
  @RenderSection("nav", false)
  @RenderBody()
  @Html.Partial("_Footer")
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
  @RenderSection("bodyEnd", false)
</body>