@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metaShared {
  <meta property="og:locale" content="en_US">
  <meta property="og:description" content="@ViewBag.Description">
  <meta property="og:title" content="@ViewBag.Title">
  <meta property="og:url" content="@Context.Request.Host@Context.Request.Path">
  <meta property="og:site_name" content="PioneerCode">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@(" @")chad_ramos">
  <meta name="twitter:domain" content="PioneerCode">
  @RenderSection("metaPage", false)
}

@section headEnd {
  <link href="/app.css" rel="stylesheet" asp-append-version="true" />
}

@section nav {
  <nav class="nav-main">
    <input type="hidden" class="nav-main-show" />
    <div class="title-bar clearfix hide" data-responsive-toggle="pioneer-public-menu" data-hide-for="medium">
      <div class="title-bar-title float-left">
        <a href="/" class="title">Pioneer <span>Code</span></a>
      </div>
      <button class="fa fa-bars fa-lg float-right" type="button" data-toggle></button>
    </div>
    <div class="top-bar" id="pioneer-public-menu">
      <div class="row">
        <div class="large-12 columns">
          <div class="top-bar-left hide-for-small-only">
            <ul class="menu">
              <li class="menu-text">
                <a href="/" class="title" title="Pioneer Code">Pioneer <span>Code</span></a>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="@(ViewBag.Selected == "blog" ? "selected" : "")">
                <a href="/blog" title="Blog">BLOG</a>
              </li>
              <li class="@(ViewBag.Selected == "about" ? "selected" : "")">
                <a href="/about" title="About">ABOUT</a>
              </li>
              <li class="@(ViewBag.Selected == "search" ? "selected" : "")">
                <a href="/search" title="Search">SEARCH</a>
              </li>
              <li class="@(ViewBag.Selected == "contact" ? "selected" : "")">
                <a href="/contact" class="margin-zero" title="Contact">CONTACT</a>
              </li>
              <environment names="Development">
                <li>
                  @Html.Partial("_LoginPartial")
                </li>
              </environment>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
}

<section class="body-content">
  @RenderBody()
</section>

@section bodyEnd {
  @* TODO: Make this aysnc.  Issue currently is jQuery load. *@
  <script src="/app.js" asp-append-version="true"></script>
  <environment names="Production">
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', '@AppConfiguration.Value.GoogleAnalyticsId', 'auto');
      ga('send', 'pageview');
    </script>
  </environment>
}
