@using Microsoft.AspNetCore.Mvc.Rendering
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>@ViewBag.Title | @AppConfiguration.Value.SiteTitle</title>
  <meta name="description" content="@ViewBag.Description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
  @*<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">*@
  <link rel="manifest" href="/images/icons/manifest.json">
  <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
  @*<link rel="shortcut icon" href="/images/icons/favicon.ico">*@
  <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  @RenderSection("metaShared", false)
  <style type="text/css">
    .hide {
      display: none;
    }
  </style>
  @RenderSection("headEnd", false)
</head>
<body>
  @RenderSection("nav", false)
  @RenderBody()
  @Html.Partial("_Footer")
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
  @RenderSection("bodyEnd", false)
</body>